@using CIPlatform.Entities.AdminModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model MissionApplicationAdminModel
<div>
    <div class="admin_user_title mt-5">
        <h3>Mission Application</h3>
        <hr>
    </div>
    <div class="row d-flex align-items-center mainadmin_search_div">
        <div class="col-12 inside_div">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" class="form-control admin_search"
                           placeholder="Search" />
                </div>
            </div>
        </div>
    </div>
    <div class="admin_user_table mt-4">
        <table class="table main_user_table">
            <thead>
                <tr>
                    <th scope="col">Mission Title</th>
                    <th scope="col">Mission Id</th>
                    <th scope="col">User Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Applied Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var AppData in Model.MissionApplications)
                {

                    <tr>
                        <td>@AppData.Mission.Title</td>
                        <td> @AppData.MissionId</td>
                        <td> @AppData.UserId</td>
                        <td> @AppData.User.FirstName @AppData.User.LastName</td>
                        <td>@AppData.AppliedAt</td>
                        <td>
                            @if (AppData.ApprovalStatus == "APPROVE")
                            {
                                <i class="fa-sharp fa-solid fa-circle-check right_icon approve_status" data-applicationid="@AppData.MissionApplicationId"></i>
                            }
                            else
                            {
                                <i class="fa-sharp fa-regular fa-circle-check right_icon approve_status" data-applicationid="@AppData.MissionApplicationId"></i>
                            }
                            @if (AppData.ApprovalStatus == "DECLINE")
                            {
                                <i class="fa-sharp fa-solid fa-circle-xmark wrong_icon declined_status" data-applicationid="@AppData.MissionApplicationId"></i>
                            }
                            else
                            {
                                <i class="fa-sharp fa-regular fa-circle-xmark wrong_icon declined_status" data-applicationid="@AppData.MissionApplicationId"></i>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<!-- Pagination -->
<div class="pagination_div pagination_admin_div" id="mission_check2">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="/Admin/MissionApplicationAdmin?page=@(ViewBag.PageNumber-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                    <a class="page-link" href="/Admin/MissionApplicationAdmin?page=@i">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="/Admin/MissionApplicationAdmin?page=@(ViewBag.PageNumber+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
