@using CIPlatform.Entities.AdminModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model MissionAdminModel
<head>
     <script src="https://cdn.tiny.cloud/1/vrm6l4u7xy8ilkp9xjyo20x5mu0z3z7pccu4i3zjx0wmoo03/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
@if (TempData["successmissionadd"] != null)
{
    <div class="alert alert-success">@TempData["successmissionadd"]</div>
}
@if (TempData["errormission"] != null)
{
    <div class="alert alert-danger">@TempData["errormission"]</div>
}
<div>
    <div class="admin_user_title mt-5">
        <h3>Mission</h3>
        <hr>
    </div>
    <div class="row d-flex align-items-center mainadmin_search_div">
        <div class="col-6 inside_div">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" class="form-control admin_search"
                           placeholder="Search" />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="apply_button_card main_div_save text-end">
                <a href="" data-bs-toggle="modal" data-bs-target="#mission_add" class="timesheet_add_button">
                    <button class="card_apply_button storycanclebtn">
                        <i class="fa-solid fa-plus"></i> Add
                    </button>
                </a>
            </div>
        </div>
    </div>

    @*new Mission add model*@

    <div class="modal fade newuseradd" id="mission_add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Mission</h5>
                    <button type="button" class="btn-close recommended_coworker closebtn" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <form class="" method="post" id="addMissionForm">
                        <!-- Mission title and description -->

                        <div class="row mb-4">
                            <div class="form-group col-12">
                                <label asp-for="Title" class="mb-1" id="addMissionTitleLabel">Mission Title *</label>
                                <input asp-for="Title" type="text" class="form-control" id="addMissionTitle"
                                       placeholder="Enter mission title ">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="form-group col-12">
                                <label asp-for="ShortDescription" class="mb-1" id="addMissionShortDescLabel">Mission Short Description *</label>
                                <input asp-for="ShortDescription" type="text" class="form-control" id="addMissionShortDesc"
                                       placeholder="Enter mission short description ">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="form-group col-12">
                                <label asp-for="Description" class="mb-1" id="addMissionDesDetailsLabel">Mission Description *</label>
                                <textarea asp-for="Description" id="addMissionDesDetails" placeholder="Enter Details...">
                                          </textarea>
                                <script>
                                    tinymce.init({
                                      selector: 'textarea',
                                      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
                                      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                                      tinycomments_mode: 'embedded',
                                      tinycomments_author: 'Author name',
                                      mergetags_list: [
                                        { value: 'First.Name', title: 'First Name' },
                                        { value: 'Email', title: 'Email' },
                                      ]
                                    });
                                </script>
                            </div>
                        </div>
                        <!-- Mission city and country -->
                        <div class="row mb-4">
                            <div class="form-group col-6 ">
                                <label asp-for="CityId" class="mb-1" id="addMissionCityLabel"> City *</label>
                                <select asp-for="CityId" class="form-select addMissionCity" aria-label="Default select example" id="city-select44">
                                    <option selected id="" value="0">Select your city</option>
                                </select>
                            </div>
                            <div class="form-group col-6 ">
                                <label asp-for="CountryId" class="mb-1" id="addMissionCountryLabel">Country *</label>
                                <select asp-for="CountryId" class="form-select addMissionCountry" aria-label="Default select example" id="country-select44">
                                    <option selected id="" value="">Select your country</option>
                                    @foreach (var usercountry in Model.Country)
                                    {
                                        <option value="@usercountry.CountryId">
                                            @usercountry.Name
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- Mission Organisation name and Organisation details -->
                        <div class="row mb-4">
                            <div class="form-group col-12">
                                <label asp-for="OrganizationName" class="mb-1" id="addMissionOrgLabel">Mission Organisation Name *</label>
                                <input asp-for="OrganizationName" type="text" class="form-control" id="addMissionOrgName"
                                       placeholder="Enter mission organisation name ">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="form-group col-12">
                                <label asp-for="OrganizationDetail" class="mb-1" id="addMissionOrgDetailsLabel">Mission Organisation Detail *</label>
                                <textarea asp-for="OrganizationDetail" id="addMissionOrgDetails" placeholder="Enter Details...">
                                          </textarea>
                                <script>
                                    tinymce.init({
                                      selector: 'textarea',
                                      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
                                      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                                      tinycomments_mode: 'embedded',
                                      tinycomments_author: 'Author name',
                                      mergetags_list: [
                                        { value: 'First.Name', title: 'First Name' },
                                        { value: 'Email', title: 'Email' },
                                      ]
                                    });
                                </script>
                            </div>
                        </div>
                        <!-- Mission type -->
                        <div class="row mb-5 mt-4">
                            <div class="col-6">
                                <label class="mb-1">Mission Type</label>
                                <div class="d-flex story_status">
                                    <div class="form-check missionaddtype">
                                        <input asp-for="MissionType" class="form-check-input" type="radio" name="missiontype" value="Time" checked>
                                        <label class="form-check-label" for="active">
                                            Time
                                        </label>
                                    </div>
                                    <div class="form-check missionaddtype">
                                        <input asp-for="MissionType" class="form-check-input" type="radio" name="missiontype" value="Goal">
                                        <label class="form-check-label" for="inactive">
                                            Goal
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6 mission_time ">
                                <label asp-for="Deadline" for="" class="mb-1" id=""> Mission registration deadline </label>
                                <input asp-for="Deadline" type="date" class="form-control" id="addMissionDeadline"
                                       placeholder="Select Date" min="">
                            </div>
                        </div>
                        <!-- Mission start date and end date-->
                        <div class=" mb-4 row">
                            <div class="form-group col-6 ">
                                <label asp-for="StartDate" for="" class="mb-1" id=""> Mission start date </label>
                                <input asp-for="StartDate" type="date" class="form-control" id="addMissionStartdate"
                                       placeholder="Select Date" min="">
                            </div>
                            <div class="form-group col-6 ">
                                <label asp-for="EndDate" for="" class="mb-1" id=""> Mission end date </label>
                                <input asp-for="EndDate" type="date" class="form-control" id="addMissionEnddate"
                                       placeholder="Select Date" min="">
                            </div>
                        </div>
                        <!-- Mission goal text date and goal value-->
                        <div class="mission_goal mb-4 row">
                            <div class="form-group col-6">
                                <label asp-for="GoalObjectiveText" class="mb-1" id="addMissionGoalNameLabel">Goal title *</label>
                                <input asp-for="GoalObjectiveText" type="text" class="form-control" id="addMissionGoalName"
                                       placeholder="Enter goal heading">
                            </div>
                            <div class="form-group col-6">
                                <label asp-for="GoalValue" class="mb-1" id="addMissionGoalValueLabel">Goal Value *</label>
                                <input asp-for="GoalValue" type="text" class="form-control" id="addMissionGoalValue"
                                       placeholder="Enter value">
                            </div>
                        </div>
                        <!-- Mission seats and deadline date-->
                        <div class="mb-4 row">
                            <div class="form-group col-6">
                                <label asp-for="SeatLeft" class="mb-1" id="">Total seats</label>
                                <input asp-for="SeatLeft" type="text" class="form-control" id=""
                                       placeholder="Enter total seats">
                            </div>
                            <!-- Mission Theme -->
                            <div class="form-group  col-6">
                                <label class="mb-1" id="addMissionThemeLabel">Mission Theme *</label>
                                <select asp-for="MissionThemeId" class="form-select" aria-label="Default select example" id="addMissionTheme">
                                    <option selected id="" value="">Select mission theme</option>
                                    @foreach (var missionThemes in Model.MissionThemes)
                                    {
                                        <option value="@missionThemes.MissionThemeId">
                                            @missionThemes.Title
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- Mission Availability -->
                        <div class="row mb-4">
                            <div class="form-group col-6">
                                <label asp-for="Availability" class="mb-1" id="addMissionAvailabilityLabel">Mission Availablity *</label>
                                <select asp-for="Availability" class="form-select" aria-label="Default select example" id="addMissionAvailability">
                                    <option selected id="" value="">Select your availablity</option>
                                    <option value="DAILY">Daily</option>
                                    <option value="WEEKLY">Weekly</option>
                                    <option value="WEEK-END">Week-end</option>
                                    <option value="MONTHLY">Monthly</option>
                                </select>
                            </div>
                            <div class="col-6 mt-4 ">
                                <button class="addmissionskills d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown">
                                    <span class="">Mission Skills</span>
                                    <img src="../IMAGES/CI Platform Assets/drop-down.png" class="mx-0 mx-sm-2" />
                                </button>
                                <ul class="dropdown-menu addmissiondropdown">
                                    @foreach (var skills in @Model.skills)
                                    {
                                        <li class="filterlist">
                                            <a class="dropdown-item form-check" href="#" value=@skills.SkillId>
                                                <input class="form-check-input" type="checkbox"
                                                   onclick="CheckedId('@skills.SkillName')"
                                                   id="@skills.SkillName"
                                                   value="@skills.SkillId" />
                                                @skills.SkillName
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        @*Mission Image*@
                        <div class="storyimageupload">
                            <label class="uploadstoryimages" for="" id="uploadvalidate">Upload your Photos </label>
                            <div class="upload-container">
                                <label for="file-upload" class="upload-label">
                                    <img src="../IMAGES/CI Platform Assets/drag-and-drop.png" alt="">
                                </label>
                                <input id="file-upload" type="file" multiple>
                            </div>
                            <div id="preview-container"></div>
                        </div>
                        <!-- Active or not -->
                        <div class="row mb-5 mt-4">
                            <div class="col-12">
                                <label class="mb-1">Mission Status</label>
                                <div class="d-flex story_status">
                                    <div class="form-check">
                                        <input asp-for="Status" class="form-check-input" type="radio" value="1" checked>
                                        <label class="form-check-label" for="active">
                                            Active
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="Status" class="form-check-input" type="radio" value="0">
                                        <label class="form-check-label" for="inactive">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Save -->
                        <div class="apply_button_card main_div_save mb-1">
                            <a href="">
                                <button type="submit" class="card_apply_button" id="addMissionSubmitBtn">
                                    Submit
                                </button>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="admin_user_table mt-4">
        <table class="table main_user_table">
            <thead>
                <tr>
                    <th scope="col">Mission Title</th>
                    <th scope="col">Mission type</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var missionData in Model.Missions)
                {
                    <tr>
                        <td>@missionData.Title</td>
                        <td> @missionData.MissionType</td>
                        <td>@missionData.StartDate</td>
                        <td>@missionData.EndDate</td>
                        <td>
                            <i class="fa-regular fa-pen-to-square addMissionEditIcon" data-bs-toggle="modal" data-bs-target="#mission_edit" data-missionid="@missionData.MissionId"></i>
                            <i class="fa-solid fa-trash-can deleteihover MissionDeleteIcon" data-bs-toggle="modal" data-bs-target="#mission_delete" data-missionid="@missionData.MissionId"></i>
                        </td>
                    </tr>
                }

            </tbody>

            @* Mission Edit model*@

            <div class="modal fade newuseradd" id="mission_edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Add Mission</h5>
                            <button type="button" class="btn-close recommended_coworker closebtn" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                            <form class="" method="post" id="editMissionForm">
                                <!-- Mission title and description -->

                                <div class="row mb-4">
                                    <div class="form-group col-12">
                                        <label asp-for="Title" class="mb-1" id="editMissionTitleLabel">Mission Title *</label>
                                        <input asp-for="Title" type="text" class="form-control" id="editMissionTitle"
                                               placeholder="Enter mission title ">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="form-group col-12">
                                        <label asp-for="ShortDescription" class="mb-1" id="editMissionShortDescLabel">Mission Short Description *</label>
                                        <input asp-for="ShortDescription" type="text" class="form-control" id="editMissionShortDesc"
                                               placeholder="Enter mission short description ">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="form-group col-12">
                                        <label asp-for="Description" class="mb-1" id="editMissionDesDetailsLabel">Mission Description *</label>
                                        <textarea asp-for="Description" id="editMissionDesDetails" placeholder="Enter Details...">
                                          </textarea>
                                        <script>
                                            tinymce.init({
                                              selector: 'textarea',
                                              plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
                                              toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                                              tinycomments_mode: 'embedded',
                                              tinycomments_author: 'Author name',
                                              mergetags_list: [
                                                { value: 'First.Name', title: 'First Name' },
                                                { value: 'Email', title: 'Email' },
                                              ]
                                            });
                                        </script>
                                    </div>
                                </div>
                                <!-- Mission city and country -->
                                <div class="row mb-4">
                                    <div class="form-group col-6 ">
                                        <label asp-for="CityId" class="mb-1" id="editMissionCityLabel">Enter your city</label>
                                        <select asp-for="CityId" class="form-select editMissionCity" aria-label="Default select example" id="city-select33">
                                            <option selected id="" value="0">Select your city</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6 ">
                                        <label asp-for="CountryId" class="mb-1" id="editMissionCountryLabel">Country *</label>
                                        <select asp-for="CountryId" class="form-select editMissionCountry" aria-label="Default select example" id="country-select33">
                                            <option selected id="" value="0">Select your country</option>
                                            @foreach (var usercountry in Model.Country)
                                            {
                                                <option value="@usercountry.CountryId">
                                                    @usercountry.Name
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <!-- Mission Organisation name and Organisation details -->
                                <div class="row mb-4">
                                    <div class="form-group col-12">
                                        <label asp-for="OrganizationName" class="mb-1" id="editMissionOrgLabel">Mission Organisation Name *</label>
                                        <input asp-for="OrganizationName" type="text" class="form-control" id="editMissionOrgName"
                                               placeholder="Enter mission organisation name ">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="form-group col-12">
                                        <label asp-for="OrganizationDetail" class="mb-1" id="editMissionOrgDetailsLabel">Mission Organisation Detail *</label>
                                        <textarea asp-for="OrganizationDetail" id="editMissionOrgDetails" placeholder="Enter Details...">
                                          </textarea>
                                        <script>
                                            tinymce.init({
                                              selector: 'textarea',
                                              plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
                                              toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                                              tinycomments_mode: 'embedded',
                                              tinycomments_author: 'Author name',
                                              mergetags_list: [
                                                { value: 'First.Name', title: 'First Name' },
                                                { value: 'Email', title: 'Email' },
                                              ]
                                            });
                                        </script>
                                    </div>
                                </div>
                                <!-- Mission type -->
                                <div class="row mb-5 mt-4">
                                    <div class="col-6">
                                        <label class="mb-1">Mission Type</label>
                                        <div class="d-flex story_status">
                                            <div class="form-check missionaddtype">
                                                <input asp-for="MissionType" class="form-check-input" type="radio" name="missiontype" value="Time" id="editMissionTime">
                                                <label class="form-check-label" for="active">
                                                    Time
                                                </label>
                                            </div>
                                            <div class="form-check missionaddtype">
                                                <input asp-for="MissionType" class="form-check-input" type="radio" name="missiontype" value="Goal" id="editMissionGoal">
                                                <label class="form-check-label" for="inactive">
                                                    Goal
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6 mission_time ">
                                        <label asp-for="Deadline" for="" class="mb-1" id=""> Mission registration deadline </label>
                                        <input asp-for="Deadline" type="date" class="form-control" id="editMissionDeadline"
                                               placeholder="Select Date" min="">
                                    </div>
                                </div>
                                <!-- Mission start date and end date-->
                                <div class=" mb-4 row">
                                    <div class="form-group col-6 ">
                                        <label asp-for="StartDate" for="" class="mb-1" id=""> Mission start date </label>
                                        <input asp-for="StartDate" type="date" class="form-control" id="editMissionStartdate"
                                               placeholder="Select Date" min="">
                                    </div>
                                    <div class="form-group col-6 ">
                                        <label asp-for="EndDate" for="" class="mb-1" id=""> Mission end date </label>
                                        <input asp-for="EndDate" type="date" class="form-control" id="editMissionEndtdate"
                                               placeholder="Select Date" min="">
                                    </div>
                                </div>
                                <!-- Mission goal text date and goal value-->
                                <div class="mission_goal mb-4 row">
                                    <div class="form-group col-6">
                                        <label asp-for="GoalObjectiveText" class="mb-1" id="editMissionGoalNameLabel">Goal title *</label>
                                        <input asp-for="GoalObjectiveText" type="text" class="form-control" id="editMissionGoalName"
                                               placeholder="Enter goal heading">
                                    </div>
                                    <div class="form-group col-6">
                                        <label asp-for="GoalValue" class="mb-1" id="editMissionGoalValueLabel">Goal Value *</label>
                                        <input asp-for="GoalValue" type="text" class="form-control" id="editMissionGoalValue"
                                               placeholder="Enter value">
                                    </div>
                                </div>
                                <!-- Mission seats and deadline date-->
                                <div class="mb-4 row">
                                    <div class="form-group col-6">
                                        <label asp-for="SeatLeft" class="mb-1" id="">Total seats</label>
                                        <input asp-for="SeatLeft" type="text" class="form-control" id="editMissionSeats"
                                               placeholder="Enter total seats">
                                    </div>
                                    <!-- Mission Theme -->
                                    <div class="form-group col-6">
                                        <label class="mb-1" id="editMissionThemeLabel">Mission Theme *</label>
                                        <select asp-for="MissionThemeId" class="form-select editMissionThemeselect" aria-label="Default select example" id="editMissionTheme">
                                            <option selected id="editMissionThemeDefault" value="">Select mission theme</option>
                                            @foreach (var missionThemes in Model.MissionThemes)
                                            {
                                                <option value="@missionThemes.MissionThemeId">
                                                    @missionThemes.Title
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <!-- Mission Availability -->
                                <div class="row mb-4">
                                    <div class="form-group col-6">
                                        <label asp-for="Availability" class="mb-1" id="editMissionAvailabilityLabel">Mission Availablity *</label>
                                        <select asp-for="Availability" class="form-select" aria-label="Default select example" id="editMissionAvailability">
                                            <option selected id="editMissionAvailabilityDefault" value="default">Select your availablity</option>
                                            <option value="DAILY">Daily</option>
                                            <option value="WEEKLY">Weekly</option>
                                            <option value="WEEK-END">Week-end</option>
                                            <option value="MONTHLY">Monthly</option>
                                        </select>
                                    </div>
                                    <div class="col-6 mt-4 ">
                                        <button class="addmissionskills d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown">
                                            <span class="">Mission Skills</span>
                                            <img src="../IMAGES/CI Platform Assets/drop-down.png" class="mx-0 mx-sm-2" />
                                        </button>
                                        <ul class="dropdown-menu updatemissiondropdown">
                                            @foreach (var skills in @Model.skills)
                                            {
                                                <li class="filterlist">
                                                    <a class="dropdown-item form-check" href="#" value=@skills.SkillId>
                                                        <input class="form-check-input" type="checkbox"
                                                           onclick="CheckedId('@skills.SkillName')"
                                                           id="@skills.SkillName"
                                                           value="@skills.SkillId" />
                                                        @skills.SkillName
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                                <!-- Active or not -->
                                <div class="row mb-5 mt-4">
                                    <div class="col-12">
                                        <label class="mb-1">Mission Status</label>
                                        <div class="d-flex story_status">
                                            <div class="form-check">
                                                <input asp-for="Status" class="form-check-input" type="radio" value="1" id="editMissionStatusActive">
                                                <label class="form-check-label" for="active">
                                                    Active
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input asp-for="Status" class="form-check-input" type="radio" value="0" id="editMissionStatusInactive">
                                                <label class="form-check-label" for="inactive">
                                                    Inactive
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Save -->
                                <div class="apply_button_card main_div_save mb-1">
                                    <a href="">
                                        <button type="submit" class="card_apply_button" id="editMissionSubmitBtn">
                                            Submit
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Soft Delete mission Modal -->
            <div class="modal fade " id="mission_delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete</h5>
                            <button type="button" class="btn-close recommended_coworkerclosebtn" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center modeldeleteimage">
                                <button class="rounded-circle">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                                <h4 class="pt-3">Are you sure?</h4>
                                <p class="pt-4"> Do you really want to delete these records? this process cannot be undone.</p>

                            </div>
                            <div class=" d-flex apply_button_card main_div_save modelsubmit mt-4 deletebuttondiv justify-content-evenly">
                                <button class="card_apply_button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                                <button class="card_apply_button MissionDelete">
                                    Delete
                                </button>
                            </div>

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </table>
    </div>
</div>
<!-- Pagination -->
<div class="pagination_div pagination_admin_div" id="mission_check2">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(ViewBag.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="/Admin/MissionAdmin?page=@(ViewBag.PageNumber-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                    <a class="page-link" href="/Admin/MissionAdmin?page=@i">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="/Admin/MissionAdmin?page=@(ViewBag.PageNumber+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script>
        //image upload
    const uploadContainer = document.querySelector('.upload-container');
    const previewContainer = document.querySelector('#preview-container');

    // Prevent default drag behaviors
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        uploadContainer.addEventListener(eventName, e => {
            e.preventDefault();
            e.stopPropagation();
        });
    });

    // Highlight drop area when item is dragged over
    ['dragenter', 'dragover'].forEach(eventName => {
        uploadContainer.addEventListener(eventName, e => {
            uploadContainer.classList.add('highlight');
        });
    });

    ['dragleave', 'drop'].forEach(eventName => {
        uploadContainer.addEventListener(eventName, e => {
            uploadContainer.classList.remove('highlight');
        });
    });

    // Handle dropped files
    uploadContainer.addEventListener('drop', e => {
        const files = e.dataTransfer.files;
        handleFiles(files);
    });

    // Handle selected files
    document.querySelector('#file-upload').addEventListener('change', e => {
        const files = e.target.files;
        handleFiles(files);
    });

    function handleFiles(files) {
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            if (file.type.startsWith('image/')) {
                const reader = new FileReader();
                reader.onload = e => {
                    const image = new Image();
                    image.src = e.target.result;
                    image.addEventListener('load', () => {
                        const previewImage = document.createElement('div');
                        previewImage.classList.add('preview-image');
                        previewImage.innerHTML = `
                <img src="${image.src}">
                <div class="image-tag">${file.name}</div>
                <button class="cancel-btn">x</button>
              `;
                        previewContainer.appendChild(previewImage);
                        const cancelButton = previewImage.querySelector('.cancel-btn');
                        cancelButton.addEventListener('click', () => {
                            previewImage.remove();
                        });
                        // Convert image to base64 and include in data
                        const canvas = document.createElement('canvas');
                        const ctx = canvas.getContext('2d');
                        canvas.width = image.width;
                        canvas.height = image.height;
                        ctx.drawImage(image, 0, 0);
                        const dataURL = canvas.toDataURL(file.type);
                        const imageData = {
                            name: file.name,
                            type: file.type,
                            data: dataURL
                        };
                        // Add the base64 image data to a hidden input field
                        const input = document.createElement('input');
                        input.type = 'hidden';
                        input.name = 'imageData[]';
                        input.value = JSON.stringify(imageData);
                        previewImage.appendChild(input);
                    });
                };
                reader.readAsDataURL(file);
            }
        }
    }
</script>